<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Zach Stall Portfolio</title>
    <link rel="icon" href="{% static "ZachStallPortfolio/index_media/z_logo.png" %}">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- {# Medium Syle Editor #} -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

    <!-- **** CUSTOM CSS **** -->
    <link rel="stylesheet" href="{% static 'ZachStallPortfolio/css/master.css' %}">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet">
    <!-- TAB LOGO -->
    <link rel="shortcut icon" href="{% static 'ZachStallPortfolio/media/z_logo.png' %}">

  </head>
  <body id="zPage" data-spy="scroll" data-target=".navbar" data-offset="100">
    <!-- **** NAVBAR **** -->
    <!-- <nav class="base_navi navbar navbar-expand-lg sticky-top latofont"> -->
    <nav class="navi navbar navbar-expand-lg navbar-dark sticky-top latofont">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static "ZachStallPortfolio/index_media/z_logo.png" %}" width="30" height="30" class="d-inline-block align-top" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#zNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="zNavbar">
        <ul class="navbar-nav mr-auto">
          <!-- CUSTOM NAVIGATION BARS -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about_me' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'zBLOG:post_list' %}">zBlog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pc_builds' %}">PC Builds</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'leela' %}">Leela</a>
          </li>
          {% block nav %}
          {% endblock %}
        </ul>
      </div>
    </nav>


    <!-- **** PAGE CONTENT **** -->
    {% block content %}
    {% endblock %}

    <!-- **** FOOTER **** -->

    <footer class="container-fluid foot container-fluid-about text-center footer-social-icons">
      <p>Website Created By <a id="email" href="zachstll.co">Zachary Stall</a></p>
      <p>With Template help from <a id="email" href="https://w3schools.com">w3schools.com</a></p>

      <!-- Seriously, I want a job. I will work my ass off! -->
			<p>To email me click here:<a id="email" href="mailto: zstall4@gmail.com"> zstall4@gmail.com</a></p>
      <div class="social-icons">
				<ul>
					<li><a href="https://www.facebook.com/zstall" target="_blank" class="social-icon"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://twitter.com/zstall4" target="_blank" class="social-icon"><i class="fa fa-twitter"></i></a></li>
					<li><a href="https://github.com/zstall" target="_blank" class="social-icon"><i class="fa fa-git"></i></a></li>
					<li><a href="https://www.instagram.com/leela_ig/" target="_blank" class="social-icon"><i class="fa fa-instagram"></i></a></li>
					<li><a href="https://www.linkedin.com/in/zachary-stall" target="_blank" class="social-icon"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="mailto: zstall4@gmail.com" class="social-icon"><i class="fa fa-google"></i></a></li>
				</ul>
			</div>

    </footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- custom JavaScript -->
    <!-- JavaScript -->
    <script type="text/javascript" src="{% static 'ZachStallPortfolio/js/master.js' %}">

    </script>

  </body>
</html>
